* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Updated the grey seo from a class selector to id for simpler code */
h1 span {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed the "list style type: none" under the ul element since it was the default and made no changes*/

/*Updated to just li since there are no other lists in this file*/
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changed from div to "main" element and removed class definer*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Combined these three classes into one called "offering" since they have the same properties */
.offering {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated image heights all under this main img selector */
main img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* Removed the class float-left and added its properties under section img */

/* Consolidated into one since they all have the same properties */
.offering h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Moved to match the html flow*/
p {
    font-size: 16px;
}

/* Changed to id selector to override the .content img selector that is driving for the other two boxes */
#float-right {
    float: right;
    margin-left: 25px;
}

/* Changed element to aside and removed the class definers "benefits"*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated classes into one called "benefit-all" since all three had same properties */
.benefit-all {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated since all three had same properties */
.benefit-all h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated since all three had same properties */
.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}